:root {
  --usafa-blue: #26547cff;
  --paradise-pink: #ef476fff;
  --orange-yellow-crayola: #ffd166ff;
  --caribbean-green: #06d6a0ff;
  --white: #fcfcfcff;
  --black: #282c34;
}

.App {
  text-align: center;
}
.login-portal {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
#spinner,
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* margin-left: 35%; */
}
.container > .clip {
  margin-left: 7%;
}
.container > div:not(.clip, .clip2) {
  width: 50%;
}
/* .container > div > p {
  outline: 1px solid red;
} */
[name="message"] {
  height: 10rem;
}
#list-avatars {
  flex-wrap: wrap;
}
#list-avatars > div {
  margin: 0 auto;
  padding: 0;
}
.container > section {
  margin: 0 auto;
  padding: 0;
  /* outline: 1px solid green; */
  display: flex;
  flex-direction: row !important;
}
.description {
  margin: 0 auto;
  padding: 0;
}
.profile {
  width: 100%;
}
.clip {
  width: 8rem;
  height: 8rem;
  clip-path: circle(3rem at 3.5rem 4.5rem);
}
/* @media (prefers-reduced-motion: no-preference) {
  #spinner,
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.container,
.App-header {
  color: var(--white);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: var(--usafa-blue);
}

.App-link {
  color: var(--caribbean-green);
}
nav > ul {
  display: flex;
}
li {
  /* display: flex; */

  /* outline: 1px solid red; */
  padding: 1rem;
  list-style: none;
}
a {
  text-decoration: none;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
button {
  background-color: transparent;
  border: none;
}

#show,
#closeSuccess,
#closeError,
.delete {
  background-color: transparent;
  border-radius: 25rem;
  outline: none;
  border: none;
}

/* #closeError:before,
#closeSuccess:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 1rem; } */

#closeError:hover,
#closeSuccess:hover {
  padding-left: 0.5rem;
  border-radius: 25rem;
  border: none;
}

#closeError:before,
.delete:before {
  color: red;
}

#closeError:hover:before,
.delete:hover:before {
  color: #da8e8e;
}
/* 
.delete:before {
  font-family: "Font Awesome 5 Free";
  content: "\f2ed";
  font-weight: 900;
  font-size: 1rem; } */

/* #closeError:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 1rem;
} */

/* #closeSuccess:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 1rem;
  color: green;
} */

/* #closeSuccess:hover:before {
  color: greenyellow;
} */
